gunicorn
numpy==1.19.5
opencv-python-headless 
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
decorator==4.4.2
Flask==1.1.2
imagecodecs
pygdal==2.4.0.6
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
networkx==2.5
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets
scikit-image
scipy==1.5.4
six==1.15.0
tifffile
Werkzeug==1.0.1
wincertstore==0.2
