<html>
    <head>
        <title>Geovision: Editor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }

          * {box-sizing: border-box;}

          .img-magnifier-container {
            position: relative;
          }

          .img-magnifier-glass {
            position: absolute;
            border: 3px solid #000;
            border-radius: 50%;
            cursor: none;
            /*Set the size of the magnifier glass:*/
            width: 150px;
            height: 150px;
          }
        </style>
                <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">

    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Alignments</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="https://magstruct.herokuapp.com/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="#" tabindex="-1">Editor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://magstruct.herokuapp.com/faq">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <img id="fused" class="img-fluid" src="{{url_for('static', filename=imgdir)}}" /> 
        </div>

        <div class="col-md-4">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a data-toggle="tab" aria-controls="parameters" role="tab" href="#parameters" class="nav-link active">Parameters</a></li>
            <li role="presentation" class="nav-item"><a data-toggle="tab" aria-controls="export" role="tab" href="#export" class="nav-link">Export</a></li>
          </ul>
        
          <div class="tab-content">
            <div id="parameters" class="tab-pane active">
              <br>
              <form action="{{ url_for('refresh_editor') }}" method="post">
                <input id="uuid_fname" name="uuid_fname" type="hidden" value={{id}}>
                <div class="mb-3">
                  <label for="usrnscale" class="form-label">No. of Wavelet Scales</label>
                  <input type="text" class="form-control" id="usrnscale" value="{{usr_nscale}}" name="usrnscale">
                  <small id="usrnscaleHelp" class="form-text text-muted">
                    Try values from 3 to 6.
                  </small>
                </div>
                <div class="mb-3">
                  <label for="usrnorient" class="form-label">No. of filter orientations</label>
                  <input type="text" class="form-control" id="usrnorient" value="{{usr_norient}}" name="usrnorient">
                </div>
                <div class="mb-3">
                  <label for="usrminWaveLength" class="form-label">Wavelength of smallest scale filter</label>
                  <input type="text" class="form-control" id="usrminWaveLength" value="{{usr_minWaveLength}}" name="usrminWaveLength">
                </div>
                <div class="mb-3">
                  <label for="usrmult" class="form-label">Scaling factor between successive filters</label>
                  <input type="text" class="form-control" id="usrmult" value="{{usr_mult}}" name="usrmult">
                </div>
                <div class="mb-3">
                  <label for="usrsigmaOnf" class="form-label">Ratio of the stdev. of the Gaussian</label>
                  <input type="text" class="form-control" id="usrsigmaOnf" value="{{usr_sigmaOnf}}" name="usrsigmaOnf">
                </div>
                <div class="mb-3">
                  <label for="usrk" class="form-label">No. of stdevs. of the Noise Energy</label>
                  <input type="text" class="form-control" id="usrk" value="{{usr_k}}" name="usrk">
                  <small id="usrkHelp" class="form-text text-muted">
                    For noisy images, you may want this value as higher as 10 or 20.
                  </small>
                </div>
                <div class="mb-3">
                  <label for="usrpolarity" class="form-label">Polarity</label>
                  <input type="text" class="form-control" id="usrk" value="{{usr_polarity}}" name="usrpolarity">
                  <small id="usrpolarityHelp" class="form-text text-muted">
                    Use -1 for dark features, 1 for bright features or 0 for both.
                  </small>
                </div>
                <div class="mb-3">
                  <label for="usrnoiseMethod" class="form-label">Noise Method</label>
                  <input type="text" class="form-control" id="usrnoiseMethod" value="{{usr_noiseMethod}}" name="usrnoiseMethod">
                  <small id="usrnoiseMethodHelp" class="form-text text-muted">
                    Use -2 for the mode, -1 for the median and >= 0 for fixed noise threshold.
                  </small>
                </div>
                <div class="mb-3">
              <button type="submit" class="btn btn-outline-primary btn-sm">Reload</button>
            </div>
            </form>
            </div>

            <div id="export" class="tab-pane fade">
              <div class="container"><br>
                <div class="mb-3">
                  <div class="col-6"><a href="/makeshp/{{id}}" target="blank"><button type="button" class="btn btn-outline-primary btn-sm">Export shapefile</button></div>
                </div>
              <div class="mb-3">
                <div class="col-6"><a href="/makepng/{{id}}" target="blank"><button type="button" class="btn btn-outline-primary btn-sm">Download PNG</button></a></div>
              </div>                
                <div class="mb-3">
                  <div class="col-6"><a href="/maketif/{{id}}" target="blank"><button type="button" class="btn btn-outline-primary btn-sm">Download GTIFF</button></a></div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <script>
      magnify("fused", 6);
    </script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>